/* -------------------------------------------------------------------------- */
/*                                Settings Tab                                */
/* -------------------------------------------------------------------------- */

.cbx-setting-default-frontmatter {
    width: 250px;
    height: 150px;
}

/* -------------------------------------------------------------------------- */
/*                           Error Rendering Styles                           */
/* -------------------------------------------------------------------------- */

.chatterbox .cbx-error-container {
    display: block;
    width: 100%;
    padding: var(--size-4-1) var(--size-4-2);
    background-color: rgba(var(--callout-error), 0.1);
    border-radius: var(--callout-radius);
}

.chatterbox .cbx-error-title {
    display: block;
    font-size: max(var(--font-ui-small), 1em);
    font-weight: var(--font-medium);
    color: var(--text-error);
}

.chatterbox ul.cbx-error-items {
    display: block;
    color: var(--text-error);
}

.chatterbox ul.cbx-error-items > li::marker {
    display: list-item;
    color: color-mix(in srgb, var(--text-error) 60%, transparent);
}

/* -------------------------------------------------------------------------- */
/*                                 Base Styles                                */
/* -------------------------------------------------------------------------- */

/* -------------------------------- Variables ------------------------------- */
.chatterbox {
    /* General */
    --cbx-margin-amount: 20px;

    /* Capsule */
    --capsule-bg-color: transparent;
    --capsule-border: 1px solid;
    --capsule-border-radius: 1.5em;
    --capsule-container-margin: var(--cbx-margin-amount) 0
        var(--cbx-margin-amount) 0;
    --capsule-padding: 0.25em 1.5em 0.25em 1.5em;
    --capsule-max-width: 80%;

    /* Comment */
    --comment-text-color: color-mix(
        in srgb,
        var(--text-muted) 50%,
        var(--text-faint)
    );
    --comment-container-margin: var(--cbx-margin-amount) 0
        var(--cbx-margin-amount) 0;
    --comment-max-width: 80%;

    /* Delimiter */
    --delim-margin-amount: calc(2 * var(--cbx-margin-amount));
    --delim-margin: var(--delim-margin-amount) 0 var(--delim-margin-amount) 0;
    --delim-dot-color: currentColor;
    --delim-dot-gap: 4px;
    --delim-dot-size: 6px;

    /* Speech */
    --speech-margin: var(--cbx-margin-amount) 0 var(--cbx-margin-amount) 0;
    --speech-subtext-text-color: var(--text-muted);
    --speech-max-width: 80%;
}

.chatterbox,
.chatterbox-content {
    display: block;
    width: 100%;
}

/* --------------------------------- Capsule -------------------------------- */

.chatterbox .cbx-capsule-container {
    display: block;
    width: 100%;
    margin: var(--capsule-container-margin);
}

.chatterbox .cbx-capsule {
    display: block;
    width: fit-content;
    max-width: var(--capsule-max-width);
    margin-right: auto;
    margin-left: auto;
    padding: var(--capsule-padding);
    border: var(--capsule-border);
    border-radius: var(--capsule-border-radius);
    text-align: center;
}

/* --------------------------------- Comment -------------------------------- */

.chatterbox .cbx-comment-container {
    display: block;
    width: 100%;
    margin: var(--comment-container-margin);
}

.chatterbox .cbx-comment {
    display: block;
    width: fit-content;
    max-width: var(--comment-max-width);
    margin-right: auto;
    margin-left: auto;
    text-align: center;
}

/* -------------------------------- Delimiter ------------------------------- */

.chatterbox .cbx-delim-container {
    display: block;
    width: 100%;
    height: fit-content;
    margin: var(--delim-margin);
}

.chatterbox .cbx-delim {
    display: block;
    align-items: center;
    width: fit-content;
    margin-right: auto;
    margin-left: auto;
}

.chatterbox .cbx-delim > .dot {
    display: inline-block;
    width: var(--delim-dot-size);
    height: var(--delim-dot-size);
    margin: 0px var(--delim-dot-gap);
    background-color: var(--delim-dot-color);
    border-radius: 60%;
}

/* ----------------------------- Markdown Block ----------------------------- */

.chatterbox .cbx-markdown-container {
    display: block;
    width: 100%;
}

.chatterbox .cbx-markdown {
    display: block;
    width: 100%;
}

/* --------------------------------- Speech --------------------------------- */

.chatterbox .cbx-speech-container {
    display: block;
    width: 100%;
    margin: var(--speech-margin);
}

.chatterbox .cbx-speech {
    display: block;
    width: 100%;
    max-width: var(--speech-max-width);
}

.chatterbox .cbx-speech-header,
.chatterbox .cbx-speech-body,
.chatterbox .cbx-speech-footer {
    display: block;
}

.chatterbox .cbx-speech-name {
    display: inline-block;
    font-weight: bold;
}

.chatterbox .cbx-speech-content {
    display: block;
    width: 100%;
}

.chatterbox .cbx-speech-content .cbx-md-fix-first {
    margin-top: 0;
}

.chatterbox .cbx-speech-content .cbx-md-fix-last {
    margin-bottom: 0;
}

.chatterbox .cbx-speech-subtext {
    display: inline-block;
    color: var(--speech-subtext-text-color);
}

/* -------------------------------------------------------------------------- */
/*                           Simple Rendering Styles                          */
/* -------------------------------------------------------------------------- */

.chatterbox.cbx-mode-simple {
    --speech-margin: 10px;
    --speech-padding: 10px;
    --speech-bg-color: transparent;
    --indent-amount: 2.5em;
}

/* --------------------------------- Speech --------------------------------- */

.chatterbox.cbx-mode-simple .cbx-speech {
    max-width: 100%;
    padding: var(--speech-padding);
    background-color: var(--speech-bg-color);
}

.chatterbox.cbx-mode-simple .cbx-speech-header {
    --margin-offset: calc(var(--speech-padding) / 2);
    margin: calc(-1 * var(--margin-offset)) 0 var(--margin-offset) 0;
}

.chatterbox.cbx-mode-simple .cbx-speech-body {
    margin: 0 0 0 var(--indent-amount);
}

.chatterbox.cbx-mode-simple .cbx-speech-footer {
    --margin-offset: calc(var(--speech-padding) / 2);
    margin: var(--margin-offset) 0 calc(-1 * var(--margin-offset))
        var(--indent-amount);
}

/* -------------------------------------------------------------------------- */
/*                           Bubble Rendering Styles                          */
/* -------------------------------------------------------------------------- */

/* -------------------------------- Variables ------------------------------- */

.chatterbox.cbx-mode-bubble {
    --bubble-bg-color: rgba(var(--callout-quote), 0.2);
    --bubble-border-radius: var(--bubble-padding);
    --bubble-content-margin: 5px;
    --bubble-padding: 15px;
    --bubble-stem-height: 30px;
    --bubble-stem-width: 10px;

    --capsule-bg-color: rgba(var(--callout-quote), 0.1);
    --capsule-border: 0;

    --comment-text-color: color-mix(
        in srgb,
        var(--text-muted) 50%,
        var(--text-faint)
    );

    --delim-dot-color: var(--text-muted);
}

/* --------------------------------- Capsule -------------------------------- */

.chatterbox.cbx-mode-bubble .cbx-capsule {
    border: var(--capsule-border);
    background-color: var(--capsule-bg-color);
}

/* --------------------------------- Comment -------------------------------- */

.chatterbox.cbx-mode-bubble .cbx-comment {
    color: var(--comment-text-color);
}

/* -------------------------------- Delimiter ------------------------------- */

.chatterbox.cbx-mode-bubble .cbx-delim > .dot {
    background-color: var(--delim-dot-color);
}

/* --------------------------------- Speech --------------------------------- */

.chatterbox.cbx-mode-bubble .cbx-speech-container {
    display: flex;
    margin: var(--cbx-margin-amount) 0 var(--cbx-margin-amount) 0;
}

.chatterbox.cbx-mode-bubble .cbx-speech-right {
    justify-content: end;
    padding-right: var(--bubble-stem-width);
}

.chatterbox.cbx-mode-bubble .cbx-speech-center {
    justify-content: center;
}

.chatterbox.cbx-mode-bubble .cbx-speech-left {
    justify-content: start;
    padding-left: var(--bubble-stem-width);
}

.chatterbox.cbx-mode-bubble .cbx-speech {
    position: relative;
    box-sizing: border-box;
    width: fit-content;
    padding: var(--bubble-padding);
    background-color: var(--bubble-bg-color);
    border-radius: var(--bubble-border-radius);
}

.chatterbox.cbx-mode-bubble .cbx-speech-right .cbx-speech {
    border-top-right-radius: 0;
}

/* Right speech bubble stem */
.chatterbox.cbx-mode-bubble .cbx-speech-right .cbx-speech::after {
    content: "";
    position: absolute;
    top: 0;
    right: calc(-1 * var(--bubble-stem-width));
    width: var(--bubble-stem-width);
    height: var(--bubble-stem-height);
    background: radial-gradient(
        ellipse var(--bubble-stem-width) var(--bubble-stem-height) at bottom
            right,
        transparent 99%,
        var(--bubble-bg-color) 102%
    );
}

.chatterbox.cbx-mode-bubble .cbx-speech-left .cbx-speech {
    border-top-left-radius: 0;
}

/* Left speech bubble stem */
.chatterbox.cbx-mode-bubble .cbx-speech-left .cbx-speech::after {
    content: "";
    position: absolute;
    top: 0;
    left: calc(-1 * var(--bubble-stem-width));
    width: var(--bubble-stem-width);
    height: var(--bubble-stem-height);
    background: radial-gradient(
        ellipse var(--bubble-stem-width) var(--bubble-stem-height) at bottom
            left,
        transparent 99%,
        var(--bubble-bg-color) 102%
    );
}

.chatterbox.cbx-mode-bubble .cbx-speech-header {
    margin-top: calc(-1 * var(--bubble-padding) / 2);
    margin-bottom: var(--bubble-content-margin);
}

.chatterbox.cbx-mode-bubble .cbx-speech-footer {
    display: flex;
    justify-content: end;
    margin-top: var(--bubble-content-margin);
    margin-bottom: calc(-1 * var(--bubble-padding) / 2);
}
