/* -------------------------------------------------------------------------- */
/*                           Error Rendering Styles                           */
/* -------------------------------------------------------------------------- */

.chatterbox .cbx-error-container {
    display: block;
    width: 100%;
    padding: var(--size-4-1) var(--size-4-2);
    background-color: rgba(var(--callout-error), 0.1);
    border-radius: var(--callout-radius);
}

.chatterbox .cbx-error-title {
    display: block;
    font-size: max(var(--font-ui-small), 1em);
    font-weight: var(--font-medium);
    color: var(--text-error);
}

.chatterbox ul.cbx-error-items {
    display: block;
    color: var(--text-error);
}

.chatterbox ul.cbx-error-items > li::marker {
    display: list-item;
    color: color-mix(in srgb, var(--text-error) 60%, transparent);
}

/* -------------------------------------------------------------------------- */
/*                                 Base Styles                                */
/* -------------------------------------------------------------------------- */

.chatterbox,
.chatterbox-content {
    display: block;
    width: 100%;
}

/* --------------------------------- Capsule -------------------------------- */

.chatterbox .cbx-capsule-container {
    display: block;
    width: 100%;
    padding-top: 10px;
    padding-bottom: 10px;
}

.chatterbox .cbx-capsule {
    display: block;
    width: fit-content;
    margin-right: auto;
    margin-left: auto;
    padding: 0.25em 1.5em 0.25em 1.5em;
    border: 1px solid;
    border-radius: 1.5em;
    text-align: center;
}

/* --------------------------------- Comment -------------------------------- */

.chatterbox .cbx-comment-container {
    display: block;
    width: 100%;
    padding-top: 10px;
    padding-bottom: 10px;
}

.chatterbox .cbx-comment {
    display: block;
    width: fit-content;
    margin-right: auto;
    margin-left: auto;
    text-align: center;
}

/* -------------------------------- Delimiter ------------------------------- */

.chatterbox .cbx-delim-container {
    display: block;
    width: 100%;
    height: fit-content;
    padding-top: 20px;
    padding-bottom: 20px;
}

.chatterbox .cbx-delim {
    display: block;
    align-items: center;
    width: fit-content;
    margin-right: auto;
    margin-left: auto;
}

.chatterbox .cbx-delim > .dot {
    display: inline-block;
    width: 6px;
    height: 6px;
    margin: 0px 4px;
    background-color: currentColor;
    border-radius: 60%;
}

/* ----------------------------- Markdown Block ----------------------------- */

.chatterbox .cbx-markdown-container {
    display: block;
    width: 100%;
}

.chatterbox .cbx-markdown {
    display: block;
    width: 100%;
}

/* --------------------------------- Speech --------------------------------- */

.chatterbox .cbx-speech-container {
    display: block;
    width: 100%;
    padding-top: 10px;
    padding-bottom: 10px;
}

.chatterbox .cbx-speech {
    display: block;
    width: 100%;
}

.chatterbox .cbx-speech-header,
.chatterbox .cbx-speech-body,
.chatterbox .cbx-speech-footer {
    display: block;
}

.chatterbox .cbx-speech-name {
    display: inline-block;
    font-weight: bold;
}

.chatterbox .cbx-speech-content {
    display: block;
    width: 100%;
}

.chatterbox .cbx-speech-subtext {
    display: inline-block;
    color: var(--text-muted);
}

/* -------------------------------------------------------------------------- */
/*                           Simple Rendering Styles                          */
/* -------------------------------------------------------------------------- */

/* --------------------------------- Speech --------------------------------- */

.chatterbox.cbx-mode-simple .cbx-speech-body {
    margin-right: 15px;
    margin-left: 15px;
}

.chatterbox.cbx-mode-simple .cbx-speech-footer {
    margin-right: 15px;
    margin-left: 15px;
}

.chatterbox.cbx-mode-simple .cbx-speech-name {
    font-weight: bold;
}

.chatterbox.cbx-mode-simple .cbx-speech-content {
    padding: 10px;
}

.chatterbox.cbx-mode-simple .cbx-speech-subtext {
    margin-top: 2px;
}

/* -------------------------------------------------------------------------- */
/*                           Bubble Rendering Styles                          */
/* -------------------------------------------------------------------------- */

/* -------------------------------- Variables ------------------------------- */

.chatterbox.cbx-mode-bubble {
    --cbx-bubble-bg-color: rgba(var(--callout-quote), 0.2);
    --cbx-bubble-border-radius: var(--cbx-bubble-padding);
    --cbx-bubble-content-margin: 5px;
    --cbx-bubble-padding: 15px;
    --cbx-bubble-stem-height: 30px;
    --cbx-bubble-stem-width: 10px;
    --cbx-capsule-bg-color: rgba(var(--callout-quote), 0.1);
    --cbx-capsule-border: 0;
    --cbx-comment-text-color: color-mix(
        in srgb,
        var(--text-muted) 50%,
        var(--text-faint)
    );
    --cbx-delimeter-dot-color: var(--text-muted);
}

/* --------------------------------- Capsule -------------------------------- */

.chatterbox.cbx-mode-bubble .cbx-capsule {
    border: var(--cbx-capsule-border);
    background-color: var(--cbx-capsule-bg-color);
}

/* --------------------------------- Comment -------------------------------- */

.chatterbox.cbx-mode-bubble .cbx-comment {
    color: var(--cbx-comment-text-color);
}

/* -------------------------------- Delimiter ------------------------------- */

.chatterbox.cbx-mode-bubble  .cbx-delim > .dot {
    background-color: var(--cbx-delimeter-dot-color);
}

/* --------------------------------- Speech --------------------------------- */

.chatterbox.cbx-mode-bubble .cbx-speech-container {
    display: flex;
    padding: 10px var(--cbx-bubble-stem-width) 10px var(--cbx-bubble-stem-width);
}

.chatterbox.cbx-mode-bubble .cbx-speech-right {
    justify-content: end;
}

.chatterbox.cbx-mode-bubble .cbx-speech-center {
    justify-content: center;
}

.chatterbox.cbx-mode-bubble .cbx-speech-left {
    justify-content: start;
}

.chatterbox.cbx-mode-bubble .cbx-speech {
    position: relative;
    box-sizing: border-box;
    width: fit-content;
    padding: var(--cbx-bubble-padding);
    background-color: var(--cbx-bubble-bg-color);
    border-radius: var(--cbx-bubble-border-radius);
}

.chatterbox.cbx-mode-bubble .cbx-speech-right .cbx-speech {
    border-top-right-radius: 0;
}

/* Right speech bubble stem */
.chatterbox.cbx-mode-bubble .cbx-speech-right .cbx-speech::after {
    content: "";
    position: absolute;
    top: 0;
    right: calc(-1 * var(--cbx-bubble-stem-width));
    width: var(--cbx-bubble-stem-width);
    height: var(--cbx-bubble-stem-height);
    background: radial-gradient(
        ellipse var(--cbx-bubble-stem-width) var(--cbx-bubble-stem-height) at
            bottom right,
        transparent 99%,
        var(--cbx-bubble-bg-color) 102%
    );
}

.chatterbox.cbx-mode-bubble .cbx-speech-left .cbx-speech {
    border-top-left-radius: 0;
}

/* Left speech bubble stem */
.chatterbox.cbx-mode-bubble .cbx-speech-left .cbx-speech::after {
    content: "";
    position: absolute;
    top: 0;
    left: calc(-1 * var(--cbx-bubble-stem-width));
    width: var(--cbx-bubble-stem-width);
    height: var(--cbx-bubble-stem-height);
    background: radial-gradient(
        ellipse var(--cbx-bubble-stem-width) var(--cbx-bubble-stem-height) at
            bottom left,
        transparent 99%,
        var(--cbx-bubble-bg-color) 102%
    );
}

.chatterbox.cbx-mode-bubble .cbx-speech-header {
    margin-top: calc(-1 * var(--cbx-bubble-padding) / 2);
    margin-bottom: var(--cbx-bubble-content-margin);
}

.chatterbox.cbx-mode-bubble .cbx-speech-footer {
    display: flex;
    justify-content: end;
    margin-top: var(--cbx-bubble-content-margin);
    margin-bottom: calc(-1 * var(--cbx-bubble-padding) / 2);
}

/* This insures a minimum heigth of exactly 1 line plus padding */
.chatterbox.cbx-mode-bubble .cbx-speech-content::before {
    user-select: none;
    -webkit-user-select: none;
    content: "\200b";
    display: inline-block;
}
