/* -------------------------------------------------------------------------- */
/*                                Settings Tab                                */
/* -------------------------------------------------------------------------- */

.cbx-setting-default-frontmatter {
    width: 250px;
    height: 150px;
}

/* -------------------------------------------------------------------------- */
/*                           Error Rendering Styles                           */
/* -------------------------------------------------------------------------- */

.chatterbox .cbx-error-container {
    display: block;
    width: 100%;
    padding: var(--size-4-1) var(--size-4-2);
    background-color: rgba(var(--callout-error), 0.1);
    border-radius: var(--callout-radius);
    word-break: normal;
}

.chatterbox .cbx-error-title {
    display: block;
    font-size: max(var(--font-ui-small), 1em);
    font-weight: var(--font-medium);
    color: var(--text-error);
}

.chatterbox ul.cbx-error-items {
    display: block;
    color: var(--text-error);
}

.chatterbox ul.cbx-error-items > li::marker {
    display: list-item;
    color: color-mix(in srgb, var(--text-error) 60%, transparent);
}

/* -------------------------------------------------------------------------- */
/*                                 Base Styles                                */
/* -------------------------------------------------------------------------- */

/* -------------------------------- Variables ------------------------------- */
.chatterbox {
    /* General */
    --cbx-margin-amount: 1.5em;

    /* Capsule */
    --capsule-bg-color: transparent;
    --capsule-border: 1px solid;
    --capsule-border-radius: 1.5em;
    --capsule-container-margin: var(--cbx-margin-amount) 0
        var(--cbx-margin-amount) 0;
    --capsule-padding: 0.5em 1.5em 0.5em 1.5em;
    --capsule-max-width: 80%;

    /* Comment */
    --comment-text-color: color-mix(
        in srgb,
        var(--text-muted) 50%,
        var(--text-faint)
    );
    --comment-container-margin: var(--cbx-margin-amount) 0
        var(--cbx-margin-amount) 0;
    --comment-max-width: 80%;

    /* Delimiter */
    --delim-margin-amount: calc(2 * var(--cbx-margin-amount));
    --delim-margin: var(--delim-margin-amount) 0 var(--delim-margin-amount) 0;
    --delim-dot-color: var(--text-muted);
    --delim-dot-gap: 4px;
    --delim-dot-size: 6px;

    /* Speech */
    --speech-margin: var(--cbx-margin-amount) 0 var(--cbx-margin-amount) 0;
    --speech-subtext-text-color: var(--text-muted);
    --speech-subtext-font-size: 0.85em;
    --speech-max-width: 80%;
}

.chatterbox {
    display: flex;
    width: 100%;
    justify-content: flex-start;
}

.chatterbox-content {
    width: 100%;
}

/* HACK: This should be removed if and when the Obsidian app fixes the issue
         reported at https://forum.obsidian.md/t/markdownrenderer-produces-inconsistent-output-for-embedded-notes/109207/5
 */
.chatterbox.cbx-fix-obsidian-embed .markdown-embed .markdown-preview-view {
    padding: var(--embed-padding);
}

/* Auto colors */
.chatterbox {
    --auto-color-text-1: #c66300;
    --auto-color-text-2: #1a72d4;
    --auto-color-text-3: #e91d36;
    --auto-color-text-4: #755dbf;
    --auto-color-text-5: #108e42;
    --auto-color-text-6: #cc2073;
    --auto-color-text-7: #958509;
    --auto-color-text-8: #05918f;
}

.theme-dark .chatterbox {
    --auto-color-text-1: #ffb463;
    --auto-color-text-2: #7cc5ff;
    --auto-color-text-3: #ff8484;
    --auto-color-text-4: #b99aff;
    --auto-color-text-5: #7ce49b;
    --auto-color-text-6: #fa99cd;
    --auto-color-text-7: #e6d164;
    --auto-color-text-8: #64d2d0;
}

/* --------------------------------- Capsule -------------------------------- */

.chatterbox .cbx-capsule-container {
    display: block;
    width: 100%;
    margin: var(--capsule-container-margin);
}

.chatterbox .cbx-capsule {
    display: block;
    width: fit-content;
    max-width: var(--capsule-max-width);
    margin-right: auto;
    margin-left: auto;
    padding: var(--capsule-padding);
    border: var(--capsule-border);
    border-radius: var(--capsule-border-radius);
    text-align: center;
}

/* --------------------------------- Comment -------------------------------- */

.chatterbox .cbx-comment-container {
    display: block;
    width: 100%;
    margin: var(--comment-container-margin);
}

.chatterbox .cbx-comment {
    display: block;
    width: fit-content;
    max-width: var(--comment-max-width);
    margin-right: auto;
    margin-left: auto;
    text-align: center;
    color: var(--comment-text-color);
}

/* -------------------------------- Delimiter ------------------------------- */

.chatterbox .cbx-delim-container {
    display: block;
    width: 100%;
    height: fit-content;
    margin: var(--delim-margin);
}

.chatterbox .cbx-delim {
    display: block;
    align-items: center;
    width: fit-content;
    margin-right: auto;
    margin-left: auto;
}

.chatterbox .cbx-delim > .dot {
    display: inline-block;
    width: var(--delim-dot-size);
    height: var(--delim-dot-size);
    margin: 0px var(--delim-dot-gap);
    background-color: var(--delim-dot-color);
    border-radius: 60%;
}

/* ----------------------------- Markdown Block ----------------------------- */

.chatterbox .cbx-markdown-container {
    display: block;
    width: 100%;
}

.chatterbox .cbx-markdown {
    display: block;
    width: 100%;
}

/* --------------------------------- Speech --------------------------------- */

.chatterbox .cbx-speech-container {
    display: block;
    width: 100%;
    margin: var(--speech-margin);
}

.chatterbox .cbx-speech {
    display: block;
    width: 100%;
    max-width: var(--speech-max-width);
}

.chatterbox .cbx-speech-header,
.chatterbox .cbx-speech-body,
.chatterbox .cbx-speech-footer {
    display: block;
}

.chatterbox .cbx-speech-name {
    display: inline-block;
    font-weight: bold;
}

.chatterbox .cbx-speech-content {
    display: block;
    width: 100%;
}

.chatterbox .cbx-speech-content .cbx-md-fix-first {
    margin-top: 0;
}

.chatterbox .cbx-speech-content .cbx-md-fix-last {
    margin-bottom: 0;
}

.chatterbox .cbx-speech-subtext {
    display: inline-block;
    font-size: var(--speech-subtext-font-size);
    color: var(--speech-subtext-text-color);
}

/* -------------------------------------------------------------------------- */
/*                           Simple Rendering Styles                          */
/* -------------------------------------------------------------------------- */

.chatterbox.cbx-mode-simple {
    --speech-bg-color: transparent;
    --speech-indent: 1.5em;
    --speech-subtext-margin: 0.7em;
}

/* --------------------------------- Speech --------------------------------- */

.chatterbox.cbx-mode-simple .cbx-speech {
    max-width: 100%;
    background-color: var(--speech-bg-color);
}

.chatterbox.cbx-mode-simple .cbx-speech-body {
    margin: 0 0 0 var(--speech-indent);
}

.chatterbox.cbx-mode-simple .cbx-speech-subtext {
    margin-inline-start: var(--speech-subtext-margin);
}

/* -------------------------------------------------------------------------- */
/*                           Bubble Rendering Styles                          */
/* -------------------------------------------------------------------------- */

/* -------------------------------- Variables ------------------------------- */

.chatterbox.cbx-mode-bubble {
    --bubble-bg-color: #ebebeb;
    --bubble-border-radius: var(--bubble-padding);
    --bubble-content-margin: 5px;
    --bubble-padding: 15px;
    --bubble-stem-height: 30px;
    --bubble-stem-width: 10px;

    --capsule-bg-color: #eaeaeacc;
    --capsule-border: 0;
}

.theme-dark .chatterbox.cbx-mode-bubble {
    --capsule-bg-color: #2c2c2ccc;
    --bubble-bg-color: #363636cc;
}

/* --------------------------------- Capsule -------------------------------- */

.chatterbox.cbx-mode-bubble .cbx-capsule {
    border: var(--capsule-border);
    background-color: var(--capsule-bg-color);
}

/* --------------------------------- Speech --------------------------------- */

.chatterbox.cbx-mode-bubble .cbx-speech-container {
    display: flex;
    margin: var(--cbx-margin-amount) 0 var(--cbx-margin-amount) 0;
}

.chatterbox.cbx-mode-bubble .cbx-speech-right {
    justify-content: end;
    padding-right: var(--bubble-stem-width);
}

.chatterbox.cbx-mode-bubble .cbx-speech-center {
    justify-content: center;
}

.chatterbox.cbx-mode-bubble .cbx-speech-left {
    justify-content: start;
    padding-left: var(--bubble-stem-width);
}

.chatterbox.cbx-mode-bubble .cbx-speech {
    position: relative;
    box-sizing: border-box;
    width: fit-content;
    padding: var(--bubble-padding);
    background-color: var(--bubble-bg-color);
    border-radius: var(--bubble-border-radius);
}

.chatterbox.cbx-mode-bubble .cbx-speech-right .cbx-speech {
    border-top-right-radius: 0;
}

/* Right speech bubble stem */
.chatterbox.cbx-mode-bubble .cbx-speech-right .cbx-speech::after {
    content: "";
    position: absolute;
    top: 0;
    right: calc(-1 * var(--bubble-stem-width));
    width: var(--bubble-stem-width);
    height: var(--bubble-stem-height);
    background: radial-gradient(
        ellipse var(--bubble-stem-width) var(--bubble-stem-height) at bottom
            right,
        transparent 99%,
        var(--bubble-bg-color) 102%
    );
}

.chatterbox.cbx-mode-bubble .cbx-speech-left .cbx-speech {
    border-top-left-radius: 0;
}

/* Left speech bubble stem */
.chatterbox.cbx-mode-bubble .cbx-speech-left .cbx-speech::after {
    content: "";
    position: absolute;
    top: 0;
    left: calc(-1 * var(--bubble-stem-width));
    width: var(--bubble-stem-width);
    height: var(--bubble-stem-height);
    background: radial-gradient(
        ellipse var(--bubble-stem-width) var(--bubble-stem-height) at bottom
            left,
        transparent 99%,
        var(--bubble-bg-color) 102%
    );
}

.chatterbox.cbx-mode-bubble .cbx-speech-header {
    margin-top: calc(-1 * var(--bubble-padding) / 2);
    margin-bottom: var(--bubble-content-margin);
}

.chatterbox.cbx-mode-bubble .cbx-speech-footer {
    display: flex;
    justify-content: end;
    margin-top: var(--bubble-content-margin);
    margin-bottom: calc(-1 * var(--bubble-padding) / 2);
}
