/* -------------------------------------------------------------------------- */
/*                                Settings Tab                                */
/* -------------------------------------------------------------------------- */

.cbx-setting-default-frontmatter {
    width: 250px;
    height: 150px;
}

/* -------------------------------------------------------------------------- */
/*                           Error Rendering Styles                           */
/* -------------------------------------------------------------------------- */

.chatterbox .error-container {
    display: block;
    width: 100%;
    padding: var(--size-4-1) var(--size-4-2);
    background-color: rgba(var(--callout-error), 0.1);
    border-radius: var(--callout-radius);
    word-break: break-word;
}

.chatterbox .error-title {
    display: block;
    font-size: max(var(--font-ui-small), 1em);
    font-weight: var(--font-medium);
    color: var(--text-error);
}

.chatterbox ul.error-items {
    display: block;
    color: var(--text-error);
}

.chatterbox ul.error-items > li::marker {
    display: list-item;
    color: color-mix(in srgb, var(--text-error) 60%, transparent);
}

/* -------------------------------------------------------------------------- */
/*                                 Base Styles                                */
/* -------------------------------------------------------------------------- */

/* -------------------------------- Variables ------------------------------- */
.chatterbox {
    /* General */
    --margin-amount: 1.5em;

    /* Capsule */
    --capsule-bg-color: transparent;
    --capsule-border: 1px solid;
    --capsule-border-radius: 1.5em;
    --capsule-container-margin: var(--margin-amount) 0 var(--margin-amount) 0;
    --capsule-padding: 0.5em 1.5em 0.5em 1.5em;
    --capsule-max-width: 80%;

    /* Comment */
    --comment-text-color: color-mix(
        in srgb,
        var(--text-muted) 50%,
        var(--text-faint)
    );
    --comment-container-margin: var(--margin-amount) 0 var(--margin-amount) 0;
    --comment-max-width: 80%;

    /* Delimiter */
    --delimiter-margin-amount: calc(2 * var(--margin-amount));
    --delimiter-margin: var(--delimiter-margin-amount) 0 var(--delimiter-margin-amount) 0;
    --delimiter-dot-color: var(--text-muted);
    --delimiter-dot-gap: 4px;
    --delimiter-dot-size: 6px;

    /* Message */
    --message-margin: var(--margin-amount) 0 var(--margin-amount) 0;
    --message-subtext-text-color: var(--text-muted);
    --message-subtext-font-size: 0.90em;
    --message-min-width: 3em;
    --message-max-width: 80%;
}

.chatterbox {
    display: flex;
    width: 100%;
    justify-content: flex-start;
}

.chatterbox-content {
    width: 100%;
}

/* HACK: This should be removed if and when the Obsidian app fixes the issue
         reported at https://forum.obsidian.md/t/markdownrenderer-produces-inconsistent-output-for-embedded-notes/109207/5
 */
.chatterbox.fix-obsidian-embed .markdown-embed .markdown-preview-view {
    padding: var(--embed-padding);
}

/* Auto colors */
.chatterbox {
    --auto-color-1: #c66300;
    --auto-color-2: #1a72d4;
    --auto-color-3: #e91d36;
    --auto-color-4: #755dbf;
    --auto-color-5: #108e42;
    --auto-color-6: #cc2073;
    --auto-color-7: #958509;
    --auto-color-8: #05918f;
}

.theme-dark .chatterbox {
    --auto-color-1: #ffb463;
    --auto-color-2: #7cc5ff;
    --auto-color-3: #ff8484;
    --auto-color-4: #b99aff;
    --auto-color-5: #7ce49b;
    --auto-color-6: #fa99cd;
    --auto-color-7: #e6d164;
    --auto-color-8: #64d2d0;
}

.chatterbox .entry-container {
    word-break: break-word;
}

/* --------------------------------- Capsule -------------------------------- */

.chatterbox .capsule-container {
    display: block;
    width: 100%;
    margin: var(--capsule-container-margin);
}

.chatterbox .capsule {
    display: block;
    width: fit-content;
    max-width: var(--capsule-max-width);
    margin-right: auto;
    margin-left: auto;
    padding: var(--capsule-padding);
    border: var(--capsule-border);
    border-radius: var(--capsule-border-radius);
    text-align: center;
}

/* --------------------------------- Comment -------------------------------- */

.chatterbox .comment-container {
    display: block;
    width: 100%;
    margin: var(--comment-container-margin);
}

.chatterbox .comment {
    display: block;
    width: fit-content;
    max-width: var(--comment-max-width);
    margin-right: auto;
    margin-left: auto;
    text-align: center;
    color: var(--comment-text-color);
}

/* -------------------------------- Delimiter ------------------------------- */

.chatterbox .delimiter-container {
    display: block;
    width: 100%;
    height: fit-content;
    margin: var(--delimiter-margin);
}

.chatterbox .delimiter {
    display: block;
    align-items: center;
    width: fit-content;
    margin-right: auto;
    margin-left: auto;
}

.chatterbox .delimiter > .dot {
    display: inline-block;
    width: var(--delimiter-dot-size);
    height: var(--delimiter-dot-size);
    margin: 0px var(--delimiter-dot-gap);
    background-color: var(--delimiter-dot-color);
    border-radius: 60%;
}

/* ----------------------------- Markdown Block ----------------------------- */

.chatterbox .markdown-container {
    display: block;
    width: 100%;
}

.chatterbox .markdown {
    display: block;
    width: 100%;
}

/* --------------------------------- Message -------------------------------- */

.chatterbox .message-container {
    display: block;
    width: 100%;
    margin: var(--message-margin);
}

.chatterbox .message {
    display: block;
    width: 100%;
    min-width: var(--message-min-width);
    max-width: var(--message-max-width);
    padding: 0;
    border-radius: 0;
}

.chatterbox .message-header,
.chatterbox .message-body,
.chatterbox .message-footer {
    display: block;
}

.chatterbox .message-author {
    display: inline-block;
    font-weight: bold;
}

.chatterbox .message-content {
    display: block;
    width: 100%;
}

.chatterbox .message-content .md-fix-first {
    margin-top: 0;
}

.chatterbox .message-content .md-fix-last {
    margin-bottom: 0;
}

.chatterbox .message-subtext {
    display: inline-block;
    font-size: var(--message-subtext-font-size);
    color: var(--message-subtext-text-color);
}

/* -------------------------------------------------------------------------- */
/*                           Simple Rendering Styles                          */
/* -------------------------------------------------------------------------- */

.chatterbox.mode-simple {
    --message-bg-color: transparent;
    --message-indent: 1em;
    --message-author-margin: 0.7em;
    --message-padding: 10px 15px 10px 15px;
}

/* --------------------------------- Message -------------------------------- */

.chatterbox.mode-simple .message {
    max-width: 100%;
    background-color: var(--message-bg-color);
    padding: var(--message-padding);
}

.chatterbox.mode-simple .message-body {
    margin: 0 0 0 var(--message-indent);
}

.chatterbox.mode-simple .message-author {
    margin-inline-end: var(--message-author-margin);
}

/* -------------------------------------------------------------------------- */
/*                           Bubble Rendering Styles                          */
/* -------------------------------------------------------------------------- */

/* -------------------------------- Variables ------------------------------- */

.chatterbox.mode-bubble {
    --capsule-bg-color: #eaeaeacc;
    --capsule-border: 0;

    --message-bg-color: #ebebeb;

    --bubble-content-margin: 5px;
    --bubble-padding: 10px 15px 10px 15px;
    --bubble-stem-height: 25px;
    --bubble-stem-width: 10px;
    --bubble-border-radius: 15px;
}

.theme-dark .chatterbox.mode-bubble {
    --capsule-bg-color: #2c2c2ccc;
    --message-bg-color: #363636cc;
}

/* --------------------------------- Capsule -------------------------------- */

.chatterbox.mode-bubble .capsule {
    border: var(--capsule-border);
    background-color: var(--capsule-bg-color);
}

/* --------------------------------- Message -------------------------------- */

.chatterbox.mode-bubble .message-container {
    display: flex;
    margin: var(--margin-amount) 0 var(--margin-amount) 0;
}

.chatterbox.mode-bubble .message-header {
    margin-bottom: var(--bubble-content-margin);
}

.chatterbox.mode-bubble .message-right {
    justify-content: end;
    padding-right: var(--bubble-stem-width);
}

.chatterbox.mode-bubble .message-center {
    justify-content: center;
}

.chatterbox.mode-bubble .message-left {
    justify-content: start;
    padding-left: var(--bubble-stem-width);
}

.chatterbox.mode-bubble .message {
    position: relative;
    box-sizing: border-box;
    width: fit-content;
    padding: var(--bubble-padding);
    background-color: var(--message-bg-color);
    border-radius: var(--bubble-border-radius);
}

.chatterbox.mode-bubble .message-right .message {
    min-height: calc(var(--bubble-stem-height) + var(--bubble-border-radius));
    border-top-right-radius: 0;
}

/* Right message bubble stem */
.chatterbox.mode-bubble .message-right .message::after {
    content: "";
    position: absolute;
    top: 0;
    right: calc(-1 * var(--bubble-stem-width));
    width: var(--bubble-stem-width);
    height: var(--bubble-stem-height);
    background: radial-gradient(
        ellipse var(--bubble-stem-width) var(--bubble-stem-height) at bottom
            right,
        transparent 99%,
        var(--message-bg-color) 102%
    );
}

.chatterbox.mode-bubble .message-left .message {
    border-top-left-radius: 0;
}

/* Left message bubble stem */
.chatterbox.mode-bubble .message-left .message::after {
    content: "";
    position: absolute;
    top: 0;
    left: calc(-1 * var(--bubble-stem-width));
    width: var(--bubble-stem-width);
    height: var(--bubble-stem-height);
    background: radial-gradient(
        ellipse var(--bubble-stem-width) var(--bubble-stem-height) at bottom
            left,
        transparent 99%,
        var(--message-bg-color) 102%
    );
}

.chatterbox.mode-bubble .message-header {
    margin-top: calc(-1 * var(--bubble-padding) / 2);
}

.chatterbox.mode-bubble .message-footer {
    display: flex;
    justify-content: end;
    margin-top: var(--bubble-content-margin);
}
